@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    padding: 5rem;
}
/* @apply */
.btn{
    @apply p-2 w-40 bg-cyan-600 hover:text-slate-600 hover:bg-cyan-500 border-2 border-solid rounded-sm;
}
.checkBox-left{
    @apply w-[13px] h-[13px] absolute top-[5px] left-0 rounded-[2px];
}
.checkBox-right{
    @apply w-[13px] h-[13px] absolute top-[4px] left-full rounded-[2px];
}
.textcenter{
    @apply h-full flex justify-center items-center;
}
.btn-base{
    @apply w-[200px] h-[80px] relative overflow-hidden;
}
.befor-full{
    @apply before:w-full before:h-full before:absolute before:flex before:justify-center before:items-center;
}
.after-full{
    @apply after:w-full after:h-full after:absolute after:flex after:justify-center after:items-center;
}
/* 工具類 */
.wh-full{
    @apply w-full h-full;
}
/* 自訂一 */
.rota3d-btn::before{
    content: "";
    @apply wh-full;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    transform: rotateX(90deg);
    transition: transform .5s ease;
}
.rota3d-btn::after{
    content: "";
    @apply wh-full;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    transform: rotateY(90deg);
    transition: transform .5s ease;
}
.rota3d-btn:hover::before{
    transform: rotateX(0deg);
}
.rota3d-btn:hover::after{
    transform: rotateY(0deg);
}
.show-box::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(40deg);
}